.container-search-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 35px;
    .container-all {
        width: 280px;
        .card{
            background-color: white;
            border: 1px solid var(--Gray);
            margin: 10px;
            padding: 20px;

            .card_img{

            }
            .card-description{
                p{
                    margin: 0px;
                }
            }
        }
    }
}