body{
    /*background-image: url('../img/marvel-2-scaled.jpg');*/
    background-color: var(--Very-Light-Gray);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .container-general {
        .list {
            text-align: -webkit-center;
            .css-b62m3t-container {
                width: 30%;
            }
        }
    }
}
