body{
    margin: 0px;
    padding-top: 250px;
    background-image: url('../img/marvel-superhero.jpg');
    background-color: var(--Very-Light-Gray);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .App{
        position: relative;
        top: -250px;
        .container-general {
            .list {
                text-align: -webkit-center;
                .css-b62m3t-container {
                    width: 30%;
                }
            }
        }
    }
}
