.container-Vehicle{
    .table-searchs {
        border-color: rgb(53, 49, 49);
        padding-top: 30px;
        thead {
            .bg-encabezado {
                background-color: var(--Blue);
                color: white;
            }
        }
        tbody{
            background-color: white;
            .tr-encabezado:hover {
                background-color: var(--GrayishViolet);
                color: white;
            }
        }
    }
}